dbricks-course-with-adf/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dbricks-course-with-adf"
		},
		"LS_Databricks_accessToken": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accessToken\"de \"LS_Databricks\""
		},
		"ls_movie_history_adls_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"ls_movie_history_adls\""
		},
		"LS_Databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0307-003124-798kkpcy"
		},
		"ls_movie_history_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://moviehistory22.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_Databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405619825110785.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_Databricks_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_Databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_movie_history_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_movie_history_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_movie_history_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_process_movie_history')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 12,
						"startTime": "2026-03-31T11:50:00Z",
						"endTime": "2026-04-08T01:29:13Z",
						"timeZone": "UTC",
						"schedule": {}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataset_movie_history_bronze')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_movie_history_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_ds_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().p_ds_file_date",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"countryId": {
							"type": "integer"
						},
						"countryIsoCode": {
							"type": "string"
						},
						"countryName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_movie_history_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_movie_history_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Folder Details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dataset_movie_history_bronze",
								"type": "DatasetReference",
								"parameters": {
									"p_ds_file_date": {
										"value": "@pipeline().parameters.p_file_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If folder exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Folder Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Folder Details').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "email error",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/utils/02.email-error"
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Ingest Movie File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/01. ingestion_file_movie",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Language File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/02. ingestion_file_language",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Genre File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/03. ingestion_file_genre",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Country File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/04. ingesta_file_country",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Person File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/05. ingesta_file_person",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Genre File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/06. ingesta_file_movie_genre",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Cast File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/07. ingesta_file_movie_cast",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Language Role File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/08. ingesta_file_language_role",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Production Company File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/09. ingestion_folder_production_company",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Company File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/10. ingestion_folder_movie_company",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Movie Language File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/11. ingestion_folder_movie_languages",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Ingest Production Country File",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/ingestion/12. ingestion_folder_production_country",
										"baseParameters": {
											"p_environment": {
												"value": "@pipeline().parameters.p_environment",
												"type": "Expression"
											},
											"p_file_date": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_environment": {
						"type": "string",
						"defaultValue": "Production"
					},
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T11:47:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_movie_history_bronze')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transformation_movie_history_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Folder Details",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dataset_movie_history_bronze",
								"type": "DatasetReference",
								"parameters": {
									"p_ds_file_date": {
										"value": "@pipeline().parameters.p_file_date",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"exists"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "JsonReadSettings"
							}
						}
					},
					{
						"name": "If folder exists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Folder Details",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('Get Folder Details').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "email error",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/utils/02.email-error"
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Transformation results movie genre languagee",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/transformation/01.results_movie_genre_language",
										"baseParameters": {
											"p_file_data": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Transformation results country prod company",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/transformation/02.results_country_prod_company",
										"baseParameters": {
											"p_file_data": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Transformation results group movie genre",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/transformation/03.results_group_movie_genre",
										"baseParameters": {
											"p_file_data": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Transformation results group movie country",
									"type": "DatabricksNotebook",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/auad03@gmail.com/movie-history/transformation/04.results_group_movie_country",
										"baseParameters": {
											"p_file_data": {
												"value": "@formatDateTime(pipeline().parameters.p_file_date)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_Databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T02:22:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dataset_movie_history_bronze')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_Databricks')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_proccess_movie_history')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Pipeline Ingestion",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingest_movie_history_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_environment": {
									"value": "@pipeline().parameters.p_environment",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@pipeline().parameters.p_file_date",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Pipeline Transformation",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Pipeline Ingestion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transformation_movie_history_data",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"p_file_date": {
									"value": "@pipeline().parameters.p_file_date",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"p_environment": {
						"type": "string",
						"defaultValue": "Production"
					},
					"p_file_date": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-31T02:36:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingest_movie_history_data')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transformation_movie_history_data')]"
			]
		}
	]
}